<html>

<head>
	<script src="https://zeffy-scripts.s3.ca-central-1.amazonaws.com/embed-form-script.min.js"></script>
	<link href="../static/css/style.css" rel="stylesheet">
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<title>{{title|striptags}}</title>
	<link rel="icon" type="image/png" href="../static/media/favicon.png">
    <meta property="og:image" content="https://lampadaire.ca/static/media/lockup_lampadaire.jpg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div class="corps">
	{% include "header.html" %}

	<h1>Auteurices</h1>
	<table class="display">
		{% for a in data %}
			<tr>
				<td>
					<a href="{{a['authorslug']}}.html">
						{%if a['author']['forname']%}{{a['author']['forname']}} {%endif%}{%if a['author']['surname']%}{{a['author']['surname']}}{%endif%} {%if a['author']['affiliations']%} ({{a['author']['affiliations']}}){%endif%}</a>
				</td>
				<td>
					{% for art in a['articles'] %}{%if art['myid'] == ''%}
					<a href="../articles/{{art['id']}}.html"><br>{%else%}
						<a href="../articles/{{art['myid']}}.html">{{art['title']|striptags}}</a><br>
						{%endif%}{% endfor %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
	{% include "footer.html" %}
</body>

</html>